In [1]:
import pandas as pd
import numpy as np

In [22]:
temp_ari = pd.read_csv("open-meteo-50.86N4.33E26m.csv")
temp_ari.shape

(39964, 7)

In [23]:
temp_ari_description = temp_ari.iloc[0:13,]
temp_ari_description

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,0,50.861156,4.3315506,26.0,3600.0,Europe/Brussels,CET
1,1,42.7065,23.397343,548.0,7200.0,Europe/Sofia,EET
2,2,50.08787,14.475525,251.0,3600.0,Europe/Prague,CET
3,3,52.54833,13.407822,37.0,3600.0,Europe/Berlin,CET
4,4,59.437607,24.806377,10.0,7200.0,Europe/Tallinn,EET
5,5,40.386642,-3.6760864,666.0,3600.0,Europe/Madrid,CET
6,6,48.822495,2.2881355,36.0,3600.0,Europe/Paris,CET
7,7,47.486816,19.06404,113.0,3600.0,Europe/Budapest,CET
8,8,54.65729,25.2071,111.0,7200.0,Europe/Vilnius,EET
9,9,49.59578,6.062176,311.0,3600.0,Europe/Luxembourg,CET
10,10,56.97715,24.113924,17.0,7200.0,Europe/Riga,EET
11,11,44.393673,26.049004,72.0,7200.0,Europe/Bucharest,EET
12,12,46.08084,14.45151,299.0,3600.0,Europe/Ljubljana,CET

In [25]:
temp_ari_data_names = list(temp_ari.iloc[13,0:3])
temp_ari_data_names

['location_id', 'time', 'temperature_2m_max (°C)']

In [26]:
temp_data = temp_ari.iloc[14:,0:3]
temp_data.columns = temp_ari_data_names
temp_data

      location_id        time temperature_2m_max (°C)
14              0  2014-09-22                    16.0
15              0  2014-09-23                    16.6
16              0  2014-09-24                    16.3
17              0  2014-09-25                    16.6
18              0  2014-09-26                    18.4
...           ...         ...                     ...
39959          12  2024-09-26                    20.8
39960          12  2024-09-27                    22.1
39961          12  2024-09-28                    16.7
39962          12  2024-09-29                    15.7
39963          12  2024-09-30                    15.7

[39950 rows x 3 columns]

In [27]:
def function_get_data(df,n_countries,n_columns):
    data_description = df.iloc[0:n_countries+1,]
    aux_column_names = list(df.iloc[n_countries+1,0:n_columns+1])
    temp_data = df.iloc[n_countries+2:,0:n_columns+1]
    temp_data.columns = aux_column_names
    return data_description,temp_data

description_ari,data_ari = function_get_data(temp_ari,12,3)

In [28]:
description_ari

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,0,50.861156,4.3315506,26.0,3600.0,Europe/Brussels,CET
1,1,42.7065,23.397343,548.0,7200.0,Europe/Sofia,EET
2,2,50.08787,14.475525,251.0,3600.0,Europe/Prague,CET
3,3,52.54833,13.407822,37.0,3600.0,Europe/Berlin,CET
4,4,59.437607,24.806377,10.0,7200.0,Europe/Tallinn,EET
5,5,40.386642,-3.6760864,666.0,3600.0,Europe/Madrid,CET
6,6,48.822495,2.2881355,36.0,3600.0,Europe/Paris,CET
7,7,47.486816,19.06404,113.0,3600.0,Europe/Budapest,CET
8,8,54.65729,25.2071,111.0,7200.0,Europe/Vilnius,EET
9,9,49.59578,6.062176,311.0,3600.0,Europe/Luxembourg,CET
10,10,56.97715,24.113924,17.0,7200.0,Europe/Riga,EET
11,11,44.393673,26.049004,72.0,7200.0,Europe/Bucharest,EET
12,12,46.08084,14.45151,299.0,3600.0,Europe/Ljubljana,CET

In [29]:
data_ari

      location_id        time temperature_2m_max (°C) temperature_2m_min (°C)
14              0  2014-09-22                    16.0                    10.9
15              0  2014-09-23                    16.6                     8.7
16              0  2014-09-24                    16.3                    10.7
17              0  2014-09-25                    16.6                    10.5
18              0  2014-09-26                    18.4                    13.2
...           ...         ...                     ...                     ...
39959          12  2024-09-26                    20.8                    13.6
39960          12  2024-09-27                    22.1                    15.9
39961          12  2024-09-28                    16.7                    10.9
39962          12  2024-09-29                    15.7                     6.7
39963          12  2024-09-30                    15.7                     4.7

[39950 rows x 4 columns]